*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

.container {
  max-width: 100%;
  max-height: max-content;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.form-container {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: cornflowerblue;
  text-align: center;
  margin-top: -50px;
  padding: 0;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  height: 50px;
  display: flex;
  /* gap: 5px; */
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
}

input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #060000;
  outline: none;
  font-size: 15px;
}

.btn {
  display: flex;
  margin: 5px;
  width: 35px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #060000;
  font-size: 10px;
}
.btn:focus, input:focus, 
.load-more:focus {
  border: 2px solid  #060000;
}

.icon {
  align-items: center;
  display:inline-block;
  width: 1.5em;
  height: 1.5em;
  stroke-width: 0;
  stroke: black;
  fill: black;
}

.btn:hover {
    stroke: rgb(15, 153, 45);
    fill: rgb(15, 153, 45);
}

img {
display: block;
max-width: 100%;
height: auto;
aspect-ratio: 4/3;
object-fit: cover;
overflow: hidden;
}

.photo-card {
object-fit: cover;
background-size: 100% 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 4);
  justify-content: space-between;
  text-decoration: none;
  color: #000;
  min-height: 144px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
}

.info p, b {
  font-size: 12px;
  text-align: center;
}

.load-more-container {
  text-align: center;
}

.load-more {
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  /* padding: 5px; */
  border: 1px inset #060000;
  font-size: 13px;
  background-color: cornflowerblue;
}